RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]



Header set Access-Control-Allow-Origin "https://supplies-store.web.app/"
Header set Access-Control-Allow-Methods "*"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
RequestHeader set X-Forwarded-Proto "https" env=HTTPS
